common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="common" targetNamespace="common" elementFormDefault="qualified">

    <!-- common types -->
    <xs:element name="first_name" type="xs:string"/>
    <xs:element name="last_name" type="xs:string"/>
    <xs:element name="email" type="xs:string"/>
    <xs:element name="company" type="xs:string"/>
    <xs:element name="id" type="xs:integer"/>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="prospect_id" type="xs:integer"/>
    <xs:element name="type_name" type="xs:string"/>
    <xs:element name="total_results" type="xs:integer"/>
    <xs:element name="result">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="total_results"/>
                <xs:element maxOccurs="unbounded" ref="opportunity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="opportunity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="name"/>
                <xs:element ref="value"/>
                <xs:element ref="probability"/>
                <xs:element ref="type"/>
                <xs:element ref="stage"/>
                <xs:element ref="status"/>
                <xs:element ref="created_at"/>
                <xs:element ref="updated_at"/>
                <xs:element ref="campaign"/>
                <xs:element ref="prospects"/>
                <xs:element ref="opportunity_activities" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="visitor_activity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="prospect_id"/>
                <xs:element ref="type"/>
                <xs:element ref="type_name"/>
                <xs:element ref="campaign"/>
                <xs:element ref="created_at"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="prospect">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="first_name"/>
                <xs:element ref="last_name"/>
                <xs:element ref="email"/>
                <xs:element ref="company"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="rsp">
        <xs:sequence>
            <xs:element name="result" type="com:result"/>
        </xs:sequence>
        <xs:attribute name="stat" use="required" type="xs:NCName"/>
        <xs:attribute name="version" use="required" type="xs:decimal"/>
    </xs:complexType>
    
    <xs:complexType name="result">
        <xs:sequence>
            <xs:element name="total_results" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="emailListType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:int"/>
            <xs:element name="created_at" type="xs:dateTime"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>      
      
    <xs:complexType name="emailListSubscriptionType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="list_id" type="xs:int" minOccurs="1"/>
            <xs:element name="prospect_id" type="xs:int" minOccurs="1"/>
            <xs:element name="did_opt_in" type="xs:int"/>
            <xs:element name="did_opt_out" type="xs:int"/>
            <xs:element name="created_at" type="xs:dateTime"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
      
    <xs:complexType name="opportunityType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="campaign_id" type="xs:int" minOccurs="1"/>
            <xs:element name="name" type="xs:string" minOccurs="1"/>
            <xs:element name="value" type="xs:int" minOccurs="1"/>
            <xs:element name="probability" type="xs:int" minOccurs="1"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="stage" type="xs:string"/>
            <xs:element name="status" type="xs:int"/>
            <xs:element name="created_at" type="xs:dateTime"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="opportunityListType">
        <xs:sequence>
            <xs:element name="opportunityInstance" type="com:opportunityType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="identifiedCompanyType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>            
            <xs:element name="name" type="xs:string"/>
            <xs:element name="street_address" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="postal_code" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="campaignType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>            
            <xs:element name="name" type="xs:string" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="campaignListType">
        <xs:sequence>
            <xs:element name="campaignInstance" type="com:campaignType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="prospectType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="campaign_id" type="xs:int"/>
            <xs:element name="salutation" type="xs:string"/>
            <xs:element name="first_name" type="xs:string"/>
            <xs:element name="last_name" type="xs:string"/>
            <xs:element name="email" type="xs:string" minOccurs="1"/>            
            <xs:element name="password" type="xs:string"/>
            <xs:element name="company" type="xs:string"/>
            <xs:element name="website" type="xs:string"/>
            <xs:element name="job_title" type="xs:string"/>
            <xs:element name="department" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="address_one" type="xs:string"/>
            <xs:element name="address_two" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zip" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="fax" type="xs:string"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="annual_revenue" type="xs:string"/>
            <xs:element name="employees" type="xs:string"/>
            <xs:element name="industry" type="xs:string"/>
            <xs:element name="years_in_business" type="xs:string"/>
            <xs:element name="comments" type="xs:string"/>
            <xs:element name="notes" type="xs:string"/>
            <xs:element name="score" type="xs:string"/>
            <xs:element name="grade" type="xs:string"/>
            <xs:element name="last_activity_at" type="xs:dateTime"/>
            <xs:element name="recent_interaction" type="xs:string"/>
            <xs:element name="commentscrm_lead_fid" type="xs:int"/>
            <xs:element name="commentscrm_contact_fid" type="xs:int"/>
            <xs:element name="commentscrm_owner_fid" type="xs:int"/>
            <xs:element name="commentscrm_account_fid" type="xs:int"/>
            <xs:element name="commentscrm_opportunity_fid" type="xs:int"/>
            <xs:element name="commentscrm_opportunity_created_at" type="xs:int"/>
            <xs:element name="commentscrm_opportunity_status" type="xs:string"/>
            <xs:element name="commentscrm_last_sync" type="xs:dateTime"/>
            <xs:element name="crm_is_sale_won" type="xs:int"/>
            <xs:element name="crm_url" type="xs:string"/>
            <xs:element name="is_do_not_email" type="xs:int"/>
            <xs:element name="opted_out" type="xs:int"/>
            <xs:element name="is_reviewed" type="xs:int"/>
            <xs:element name="is_starred" type="xs:int"/>
            <xs:element name="created_at" type="xs:dateTime"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="prospectListType">
        <xs:sequence>
            <xs:element name="prospectInstance" type="com:prospectType"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="userType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="first_name" type="xs:string"/>
            <xs:element name="last_name" type="xs:string"/>
            <xs:element name="job_title" type="xs:string"/>
            <xs:element name="role" type="xs:string"/>
            <xs:element name="created_at" type="xs:dateTime"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- 'user' definition -->
    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="first_name" type="xs:string"/>
            <xs:element name="last_name" type="xs:string"/>
            <xs:element name="job_title" type="xs:string"/> 
            <xs:element name="role" type="xs:string"/>
            <xs:element name="created_at" type="xs:string"/>
            <xs:element name="updated_at" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="userListType">
        <xs:sequence>
            <xs:element name="userInstance" type="com:userType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="visitType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="visitor_id" type="xs:int"/>
            <xs:element name="prospect_id" type="xs:int"/>
            <xs:element name="visitor_page_view_count"/>
            <xs:element name="first_visitor_page_view_at" type="xs:dateTime"/>
            <xs:element name="last_visitor_page_view_at" type="xs:dateTime"/>
            <xs:element name="duration_in_seconds" type="xs:int"/>
            <xs:element name="campaign_parameter" type="xs:string"/>
            <xs:element name="medium_parameter" type="xs:string"/>
            <xs:element name="source_parameter" type="xs:string"/>
            <xs:element name="content_parameter" type="xs:string"/>
            <xs:element name="term_parameter" type="xs:string"/>
            <xs:element name="created_at" type="xs:dateTime"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="profileType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="profileCriteriaType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="matches" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="visitorType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="browser" type="xs:string"/>
            <xs:element name="browser_version" type="xs:string"/>
            <xs:element name="operating_system" type="xs:string"/>
            <xs:element name="operating_system_version" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="screen_height" type="xs:int"/>
            <xs:element name="screen_width" type="xs:int"/>
            <xs:element name="page_view_count" type="xs:int"/>
            <xs:element name="is_flash_enabled" type="xs:int"/>
            <xs:element name="is_java_enabled" type="xs:int"/>
            <xs:element name="ip_address" type="xs:string"/>
            <xs:element name="hostname" type="xs:string"/>            
            <xs:element name="campaign_parameter" type="xs:string"/>
            <xs:element name="medium_parameter" type="xs:string"/>
            <xs:element name="source_parameter" type="xs:string"/>
            <xs:element name="content_parameter" type="xs:string"/>
            <xs:element name="term_parameter" type="xs:string"/>
            <xs:element name="created_at" type="xs:dateTime"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="visitorListType">
        <xs:sequence>
            <xs:element name="visitorInstance" type="com:visitorType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="visitorReferrerType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>
            <xs:element name="referrer" type="xs:string"/>
            <xs:element name="vendor" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="query" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="visitorActivityType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1"/>            
            <xs:element name="prospect_id" type="xs:int"/>
            <xs:element name="visitor_id" type="xs:int"/>
            <xs:element name="type" type="xs:int"/>
            <xs:element name="type_name" type="xs:string"/>
            <xs:element name="details" type="xs:string"/>
            <xs:element name="email_id" type="xs:int"/>
            <xs:element name="form_id" type="xs:int"/>
            <xs:element name="form_handler_id" type="xs:int"/>
            <xs:element name="site_search_query_id" type="xs:int"/>
            <xs:element name="landing_page_id" type="xs:int"/>
            <xs:element name="paid_search_id" type="xs:int"/>
            <xs:element name="multivariate_test_variation_id" type="xs:int"/>
            <xs:element name="visitor_page_view_id" type="xs:int"/>
            <xs:element name="file_id" type="xs:int"/>
            <xs:element name="updated_at" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="visitorActivityListType">
        <xs:sequence>
            <xs:element name="visitorActivityInstance" type="com:visitorActivityType"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>