opportunities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:opp="opportunities" xmlns:com="common" targetNamespace="opportunities">

    <xsd:import namespace="common" schemaLocation="common.xsd"/>

    <!-- Response format from opportunity 'query' -->
    <xsd:complexType name="opportunitiesQueryResponse">
        <xsd:complexContent>
            <xsd:extension base="com:result">
                <xsd:sequence>
                    <xsd:element name="opportunityList" type="com:opportunityListType"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <!-- Response format from opportunities 'create', 'read', 'update' -->
    <xsd:complexType name="opportunitiesUseResponse">
        <xsd:complexContent>        
            <xsd:extension base="com:result">
                <xsd:sequence>
                    <xsd:element name="opportunity">
                        <xsd:complexType>
                            <xsd:complexContent>
                                <xsd:extension base="com:opportunityType">
                                    <xsd:sequence>
                                        <xsd:element name="campaign" type="com:campaignType"/>
                                        <xsd:element name="prospects">
                                            <xsd:complexType>
                                                <xsd:complexContent>
                                                    <xsd:extension base="com:prospectListType">
                                                        <xsd:sequence>
                                                            <xsd:element name="prospect" type="com:prospectType"/>
                                                        </xsd:sequence>
                                                    </xsd:extension>
                                                </xsd:complexContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="opportunity_activities">
                                            <xsd:complexType>
                                                <xsd:complexContent>
                                                    <xsd:extension base="com:visitorActivityListType">
                                                        <xsd:sequence>
                                                            <xsd:element name="visitor_activity" type="com:visitorActivityType"/>
                                                        </xsd:sequence>
                                                    </xsd:extension>
                                                </xsd:complexContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:extension>
                            </xsd:complexContent>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>            
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
        
    <xsd:complexType name="opportunitiesCreateResponse">
        <xsd:complexContent>
            <xsd:extension base="opp:opportunitiesUseResponse"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="opportunitiesReadResponse">
        <xsd:complexContent>
            <xsd:extension base="opp:opportunitiesUseResponse"/>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="opportunitiesUpdateResponse">
        <xsd:complexContent>
            <xsd:extension base="opp:opportunitiesUseResponse"/>
        </xsd:complexContent>
    </xsd:complexType>
    
</xsd:schema>