pardot-wadl.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:apigee="http://api.apigee.com/wadl/2010/07/" 
  xmlns="http://wadl.dev.java.net/2009/02"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

  <!-- Base defines the domain and base path of the endpoint -->
  <resources base="https://pi.pardot.com/api/">

	<!-- Get API Key -->
    <resource path="login/version/3/do/query">
      <param name="email" required="true" type="xsd:string" style="query">
        <doc>Email Address</doc>
      </param>
      <param name="password" required="true" type="xsd:string" style="query">
        <doc>API Key</doc>
      </param>
      <param name="user_key" required="true" type="xsd:string" style="query">
        <doc>User Key</doc>
      </param>

      <method id="auth" name="POST" apigee:displayName="Authentication">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">authentication</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="false" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/login/version/3" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://developer.pardot.com/kb/api-version-3/authentication">
		  Get an API key. 
	    </doc>
      </method>
    </resource>

	<!-- Get Opportunities -->
    <resource path="opportunity/version/3/do/query">
      <param name="user_key" required="true" type="xsd:string" style="query">
        <doc>User Key</doc>
      </param>
      <param name="api_key" required="true" type="xsd:string" style="query">
        <doc>API Key</doc>
      </param>

      <method id="opportunities_query" name="POST" apigee:displayName="Opportunities - Query">
        <apigee:tags>
          <apigee:tag primary="true">opportunities</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="false" />
        <apigee:example url="/opportunity/version/3/do/query" />
	    <doc title="" apigee:url="http://developer.pardot.com/kb/api-version-3/querying-opportunities">
		  Returns the opportunities matching the specified criteria parameters. 
	    </doc>
      </method>
    </resource>

  </resources>
</application>
